{% extends 'base.html' %}

{% block main %}

    <table width="98%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="22" valign="top" class="word_orange">当前位置：首页</td>
        </tr>
        <tr>
            <td align="center" valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="87%">&nbsp;</td>
                        <td width="13%">
                            <a href="/addbook/">添加图书信息</a></td>
                    </tr>
                </table>


                <table width="98%" border="1" cellpadding="0" cellspacing="0"
                       bordercolor="#FFFFFF" bordercolordark="#F6B83B"
                       bordercolorlight="#FFFFFF">
                    <tr align="center" bgcolor="#e3F4F7">
                        <td width="8%" bgcolor="#F9D16B">编号</td>
                        <td width="28%" bgcolor="#F9D16B">书名</td>
                        <td width="20%" bgcolor="#F9D16B">出版社</td>
                        <td width="14%" bgcolor="#F9D16B">作者</td>
                        <td width="22%" bgcolor="#F9D16B">书籍类型</td>
                        <td width="8%" bgcolor="#F9D16B">数量</td>
                    </tr>

                    {% for book in books %}
                        <tr>
                            <td style="padding:5px;">&nbsp;{{ book.id }}</td>
                            <td style="padding:5px;">{{ book.bookname }}</td>
                            <td style="padding:5px;">&nbsp;{{ book.press }}</td>
                            <td style="padding:5px;">&nbsp;{{ book.author }}</td>
                            <td style="padding:5px;">&nbsp;{{ book.type.type }}</td>
                            <td style="padding:5px;">&nbsp;{{ book.count }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </td>
        </tr>


    </table>

{% endblock %}
